<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Welcome to <%= title %></h2>
    <p><a href= "/">index</a></p>
    <p>Oscar Iriarte Cariño</p>
    <p>Víctor Álvarez Provencio</p>
<img src = "images/index.jpeg" alt="Autores">
  </body>
</html
