<!DOCTYPE html>
<html>
  <head>
    <title><Los autores de la práctica son:></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><Los autores de la práctica son:></h1>
    <p><a href= "/">index</a></p>
    <p>OSCAR IRIARTE CARIÑO</p>
    <p>VICTOR ALVAREZ PROVENCIO</p>
<img src = "images/index.jpeg" alt="Autores">
  </body>
</html
